@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
  --primary-color: #f99f38;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 1.5rem;
}
.inputContainer h1 span {
  color: var(--primary-color);
}
.inputContainer div {
  display: flex;
  margin-bottom: 2rem;
}
.inputContainer input {
  width: 100%;
  padding: 0.5rem 0.2rem 0.5rem 0;
  text-indent: 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.inputContainer input::placeholder {
  font-size: 0.9rem;
}
.inputContainer button {
  padding: 0 1rem;
  height: 3rem;
  width: 50%;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: bold;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #fff;
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
}

.inputContainer button:hover {
  transform: scale(1.05);
  filter: brightness(95%);
}

/* Result */
.result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.result p {
  color: #fff;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  margin-right: 1rem;
}
.result button {
  padding: 0.5rem 1rem;
  color: #fff;
  cursor: pointer;
  background: var(--primary-color);
  border: none;
}
.result button.copied {
  background: #fff;
  color: var(--primary-color);
}
.noData {
  color: #fff;
  font-size: 1rem;
}

/* Animated Background */
@keyframes animate {
  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }
  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: #4e54c8;
  overflow: hidden;
  z-index: -1;
}
.background li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 17s linear infinite;
}

.background li:nth-child(0) {
  left: 88%;
  width: 80px;
  height: 80px;
  bottom: -80px;
  animation-delay: 1s;
}
.background li:nth-child(1) {
  left: 49%;
  width: 90px;
  height: 90px;
  bottom: -90px;
  animation-delay: 2s;
}
.background li:nth-child(2) {
  left: 39%;
  width: 96px;
  height: 96px;
  bottom: -96px;
  animation-delay: 8s;
}
.background li:nth-child(3) {
  left: 61%;
  width: 107px;
  height: 107px;
  bottom: -107px;
  animation-delay: 12s;
}
.background li:nth-child(4) {
  left: 82%;
  width: 138px;
  height: 138px;
  bottom: -138px;
  animation-delay: 2s;
}
.background li:nth-child(5) {
  left: 83%;
  width: 86px;
  height: 86px;
  bottom: -86px;
  animation-delay: 22s;
}
.background li:nth-child(6) {
  left: 43%;
  width: 119px;
  height: 119px;
  bottom: -119px;
  animation-delay: 30s;
}
.background li:nth-child(7) {
  left: 60%;
  width: 129px;
  height: 129px;
  bottom: -129px;
  animation-delay: 34s;
}
.background li:nth-child(8) {
  left: 32%;
  width: 121px;
  height: 121px;
  bottom: -121px;
  animation-delay: 5s;
}
.background li:nth-child(9) {
  left: 58%;
  width: 131px;
  height: 131px;
  bottom: -131px;
  animation-delay: 17s;
}
.background li:nth-child(10) {
  left: 27%;
  width: 146px;
  height: 146px;
  bottom: -146px;
  animation-delay: 27s;
}
.background li:nth-child(11) {
  left: 83%;
  width: 153px;
  height: 153px;
  bottom: -153px;
  animation-delay: 40s;
}
.background li:nth-child(12) {
  left: 39%;
  width: 109px;
  height: 109px;
  bottom: -109px;
  animation-delay: 18s;
}
.background li:nth-child(13) {
  left: 26%;
  width: 176px;
  height: 176px;
  bottom: -176px;
  animation-delay: 62s;
}